.header {
    display: flex;
    align-items: center;
}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
    max-height: 32px;
}

.header .title-group{
    padding-right: 25px;
}